<h2>Using ViewBag</h2>
<h3 style="color: red">@ViewBag.Message</h3>
<br />
@ViewBag.Product.ProductID
<br />
@ViewBag.Product.Name
<br />
@ViewBag.Product.Brand
<br />
@ViewBag.Product.Price
<br />
<br />
